*{
   margin: 0px;
   padding: 2px 
}

.social {
   float: left;
   padding: 10px;
   width: 30%;
}

.social h1 {
   text-align: center;
   text-decoration: none;
   font-weight: bolder;
   font-size: 30px;
   box-sizing: border-box;
}

.social #facebook {
  border: 1px solid blue;
}

.social #insta{
  border: 1px solid red;
}

.social #linkedin {
  border: 1px solid blue;
}

.banner {
   width: 100%;
   position: relative;

}

.banner img {
   max-width: 100%;
   height: 400px;
   background-size: cover;
   width: 100%;
   position: relative;
}


.navigation ul {
   list-style-type: none;
   background-color: gray;
   margin: 0;
   padding: 0;
   overflow: hidden;

}

.navigation li {
   float: left;
   padding: 10px;
}

.navigation li a {
   text-decoration: none;
   color: white;
   padding: 10px;
}

.navigation li a:hover {
   color: white;
   background-color: black;
}